RewriteEngine On
RewriteBase /

# Rewrite verify email token
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^verify-email/([^/]+)$ verify-email.php?token=$1

# Rewrite reset password token
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^reset-password/([^/]+)$ reset-password.php?token=$1

# Rewrite group id
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^group/([^/]+)$ group.php?id=$1

# Rewrite edit-group id
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^edit-group/([^/]+)$ edit-group.php?id=$1

# Rewrite task id
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^task/([^/]+)$ task.php?id=$1

# Rewrite edit-task id
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^edit-task/([^/]+)$ edit-task.php?id=$1

# Rewrite upload-code id
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^upload-code/([^/]+)$ upload-code.php?id=$1

# Rewrite view-code ids
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^view-code/([^/]*)/?(.*)$ view-code.php?task_id=$1&student_id=$2

# Remove .php file extension
RewriteCond %{DOCUMENT_ROOT}/$1.php -f
RewriteRule ^([^.]+)$ $1.php [L]

ErrorDocument 404 /404.php
ErrorDocument 403 /403.php
