:root {
  --font: Inter;
}

nav {
  padding-bottom: 30px;
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 20px rgba(0, 0, 0, 0.24);
}

nav ul {
  list-style-type: none;
  margin: 10px;
  margin-top: 0;
  padding: 10px;
}

nav ul li {
  padding: 10px;
  float: left;
  background-color: white;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

.title a {
  float: right;
  margin-right: 50px;
}

.group {
  float: left;
  margin-right: 50px;
}

.buttons form {
  float: right;
}

.students,
.teachers {
  width: 175px;
}

.details {
  float: right;
}

/* Upload page waffle */

.file-upload {
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1fb264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824b;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1aa059;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all 0.2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.file-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #1fb264;
  position: relative;
}

.file-dropping,
.file-upload-wrap:hover {
  background-color: #1fb264;
  border: 4px dashed #ffffff;
}

.file-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #15824b;
  padding: 60px 0;
}

.file-upload-image {
  display: none;
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-file {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-file:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.remove-file:active {
  border: 0;
  transition: all 0.2s ease;
}

#code {
  float: left;
  width: 750px;
  height: 1000px;
}

#terminal {
  float: left;
  width: 750px;
  height: 1000px;
}

body {
  background-color: dodgerblue;
  font-family: var(--font);
  margin: 0;
}

input {
  margin: 10px;
  margin-left: 0px;
}

input[type="submit"] {
  color: white;
  padding: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  background-color: rgb(66, 177, 247);
  font-size: 18px;
  height: 50px;
  width: 30%;
  cursor: pointer;
  border-radius: 10px;
}

input::placeholder {
  font-family: var(--font);
  font-size: medium;
}

input:-ms-input-placeholder {
  font-family: var(--font);
}

input::-ms-input-placeholder {
  font-family: var(--font);
}

.user-form {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  margin: auto;
  margin-top: 10%;
  width: 30%;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 20px rgba(0, 0, 0, 0.24);
}

.user-form h1 {
  margin-top: 0px;
  font-size: 50px;
}

input {
  text-indent: 10px;
  width: 80%;
  height: 40px;
  border-style: solid;
  border-radius: 7px;
  border-top-color: rgb(133, 133, 133);
  border-width: 2px;
}

input:focus {
  outline: none !important;
  border: 2px solid rgba(26, 115, 232, 255);
}

hr {
  border: 2px solid dodgerblue;
  border-radius: 5px;
}

a {
  color: dodgerblue;
  border-radius: 5px;
  padding: 7px;
}

.title a {
  color: black;
}
