:root {
  --font: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  --colour: rgba(2, 115, 231, 255);
}

* {
  font-family: var(--font);
}

body,
html {
  /* background: rgb(2, 0, 36);
  background: linear-gradient(
    340deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 20%,
    rgba(0, 138, 255, 1) 100%
  ); */
  /* background-color: dodgerblue; */
  background-color: var(--colour);
  min-height: 100vh;
  width: 100%;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 20px rgba(0, 0, 0, 0.24);
}

nav img {
  float: left;
  height: 40px;
  width: 40px;
}

#logo {
  padding: 10px;
  padding-bottom: 0;
}

#logo a {
  display: block;
  float: left;
  padding: 0;
  padding-left: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0 10px;
  padding: 10px;
  float: right;
}

nav ul li {
  padding: 10px;
  float: left;
}

nav ul li a,
#logo a {
  text-decoration: none;
  color: black;
}

#logout {
  padding: 0;
  border: none;
  background-color: var(--colour);
  border-radius: 10px;
  margin-left: 40px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#logout a {
  padding: 10px 12px;
  color: white;
  display: block;
}

.groups {
  width: calc(100% - 40px);
  margin: 20px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: 200px;
}

.group {
  font-size: 17px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  width: 170px;
  height: 150px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.24);
}

.group p {
  text-align: center;
}

.buttons form {
  float: right;
}

.students,
.teachers {
  width: 175px;
}

.details {
  float: right;
}

/* Upload page waffle */

.file-upload {
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1fb264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824b;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1aa059;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all 0.2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.file-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #1fb264;
  position: relative;
}

.file-dropping,
.file-upload-wrap:hover {
  background-color: #1fb264;
  border: 4px dashed #ffffff;
}

.file-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #15824b;
  padding: 60px 0;
}

.file-upload-image {
  display: none;
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-file {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-file:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.remove-file:active {
  border: 0;
  transition: all 0.2s ease;
}

#code {
  float: left;
  width: 750px;
  height: 1000px;
}

#terminal {
  float: left;
  width: 750px;
  height: 1000px;
}

input[type="submit"] {
  color: white;
  padding: 15px;
  border: none;
  background-color: var(--colour);
  font-size: 18px;
  text-indent: 0;
  height: 50px;
  width: auto;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.24);
}

::placeholder {
  font-size: medium;
}

.user-form {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 20px rgba(0, 0, 0, 0.24);
}

.user-form h1 {
  margin-top: 0px;
  font-size: 40px; /*50 for big one*/
}

input {
  margin: 10px;
  margin-left: 0px;
  text-indent: 10px;
  width: 80%;
  height: 40px;
  border: 2px solid rgb(133, 133, 133);
  border-radius: 7px;
}

input:focus,
textarea:focus {
  outline: none !important;
  border: 2px solid rgba(26, 115, 232, 255);
}

hr {
  height: 0;
  border: 0;
  border-top: 4px solid var(--colour);
  border-radius: 5px;
}

.user-form a {
  color: dodgerblue;
  border-radius: 5px;
}

.error {
  color: red;
  margin: 0;
  margin-bottom: 5px;
}

.title {
  margin-top: 10px;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title div {
  width: calc(50% + 117.5px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title h1 {
  color: white;
  margin: 20px;
  margin-left: 30px;
  font-size: 40px;
}

.title a {
  text-decoration: none;
  float: right;
  margin: 20px 30px;
  margin-left: 0;
  color: black;
  background-color: white;
  font-size: 18px;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.24);
}

#sort {
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.24);
}

#sort select option {
  padding: 100px;
}

.task {
  width: calc(100% - 40px);
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin: 30px 20px;
  border-radius: 20px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.24);
}

.info {
  width: 200px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 25px;
}

.info.middle {
  width: 40%;
  justify-content: center;
}

.info.right {
  align-items: center;
}

.info p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info a {
  width: 100px;
  float: right;
  padding: 15px;
  color: white;
  text-decoration: none;
  background-color: var(--colour);
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.left {
  text-align: left;
}

.middle {
  text-align: center;
}

.right {
  text-align: right;
}

#more-tasks {
  text-align: center;
  margin: 40px;
  padding-bottom: 40px;
}

#more-tasks a {
  text-decoration: none;
  color: black;
  background-color: white;
  font-size: 18px;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.24);
}

#progress-bar {
  margin-bottom: 10px;
  width: 100%;
  height: 20px;
  background-color: lightgray;
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#progress-bar div {
  height: 20px;
  width: 0;
  border-radius: 10px;
  background-color: var(--colour);
}

#page-nums {
  width: 100%;
  display: flex;
  justify-content: center;
}

#page-nums a {
  width: 11px;
  text-align: center;
  margin: 10px;
  margin-top: 0;
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 10px;
  padding: 10px 15px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.24);
}

.box {
  background-color: white;
  width: calc(100% - 40px);
  margin: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.24);
}

.description {
  padding: 30px;
  margin: 30px;
  width: calc(100% - 540px);
  float: left;
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.24);
}

.description h2 {
  font-size: 30px;
}

.description p {
  font-size: 20px;
}

.details {
  width: 300px;
  padding: 30px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.24);
}

.names {
  padding: 30px;
}

.buttons {
  padding: 0;
  clear: both;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons a {
  float: left;
  margin: 30px;
  padding: 15px;
  color: white;
  text-decoration: none;
  background-color: var(--colour);
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#delete {
  background-color: red;
  margin: 30px;
}

.box form {
  padding: 30px;
}

.box input,
.box textarea,
.select2-container {
  clear: both;
  float: left;
  margin: 20px;
}

.box input:not([type="submit"]) {
  width: 50%;
}

/* select 2 waffle */

.select2-container {
  border: 2px solid rgb(133, 133, 133) !important;
  border-radius: 7px;
  padding: 1px 2px !important;
  height: 50px !important;
}

.select2-selection {
  padding: 0 !important;
  border: 0 !important;
  width: 100%;
  height: 44px !important;
}

.select2-search__field {
  margin: 0 !important;
  height: 44px !important;
  padding-top: 13px !important;
}

input[type="date"] {
  width: calc(50% - 8px) !important;
  text-align: right;
  position: relative;
  padding: 1px 10px 1px 2px;
  font-size: medium;
}

input[type="date"]:before {
  color: rgba(117, 117, 117, 255);
  content: attr(placeholder) !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

textarea {
  width: calc(95% - 20px);
  height: 150px;
  resize: none;
  border: 2px solid rgb(133, 133, 133);
  border-radius: 7px;
  text-indent: 10px;
  padding-top: 10px;
}

#profile {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#profile p {
  padding: 15px;
  font-size: 20px;
}

table {
  padding: 30px;
}
